/* ------------------ Footer ------------------ */
.listSection {
    background-image: url(/public/footer-bg.jpg);
    background-size: cover;
    height: 350px;
}

.listStyle {
    list-style: none;
}

.socialSection {
    position: relative;
    z-index: 0;
    background-color: #303030;
    height: 120px;
}

.dcLogo {
    height: 550px;
}

.button {
    border-color: #4982F9;
    border-width: 2.5px;
    background-color: transparent;
    padding: 15px;
    font-size: 16px;
    color: white;
    border-style: double;
}

.button:hover {
    border-color: #003dbf;
    cursor: pointer;
}

.socialIcon {
    margin: 0.50rem;
}

.socialIcon:hover {
    background: #003dbf;
    border-radius: 50px;
}

.followusStyle {
    color: #4982F9;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem;
}

.column {
    gap: 40px;
}

.shopColumn {
    margin-bottom: 0.75rem;
}

.listTitleFontStyle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-bottom: 10px;
}

li {
    padding: 0.20rem;
    font-size: small;
    color: #7a7a7a;
    list-style: none;
}

li:hover {
    color: white;
    cursor: pointer;
}