/* ------------------ Header ------------------ */

.header {
    background-color: white;
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headerList {
    display: flex;
    list-style: none;
    gap: 1rem;
    font-weight: 550;
}

.header li {
    color: black;
}

.header li:hover {
    color: #4982F9;
    cursor: pointer;
}

.dcLogo {
    height: 80px;
}