/* ------------------ Header ------------------ */

.header {
    background-color: white;
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: sticky;
    box-shadow: -1px 9px 17px -1px rgba(0, 0, 0, 0.27);
}

.headerList {
    display: flex;
    list-style: none;
    gap: 1rem;
    font-weight: 550;
}

.dcLogo {
    height: 80px;
}

.navLink {
    color: black;
    text-decoration: none;
}

.navLink:hover {
    color: #4982F9;
}