/* ------------------ Main ------------------ */

.jumbotron {
    background-image: url(/public/jumbotron.jpg);
    height: 400px;
}

.comicSection {
    height: 400px;
    background-color: #1C1C1C;
}

.card {
    width: 30%;
}

.cardThumb {
    width: 100%;
}