/* ------------------ Main ------------------ */

.jumbotron {
    background-image: url(/public/jumbotron.jpg);
    height: 400px;
}

.comicSection {
    padding: 50px;
    background-color: #1C1C1C;
}

.card {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 15%;
}

.cardThumb {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}

.btnPosition {
    margin-top: 30px;
    text-align: center;
}

.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #4982F9;
    color: white;
    padding: 10px 60px 10px;
    border: none;
}

.btn:hover {
    background-color: #355fb8;
    cursor: pointer;
}