/* ------------------ Main ------------------ */

.main {
    background-image: url(/public/jumbotron.jpg);
    height: 400px;
    color: white;
}

.alignCenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.flexItem {
    display: flex;
}

.containerBoxed {
    max-width: 1200px;
    margin: 0 auto;
}