/* ------------------ Main ------------------ */

.jumbotron {
    background-image: url(/public/jumbotron.jpg);
    height: 400px;
}

.comicSection {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #1C1C1C;
}

.card {
    width: 15%;
}

.cardThumb {
    width: 100%;
}