/* ------------------ Main ------------------ */

.jumbotron {
    background-image: url(/public/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 400px;
}

.comicSection {
    padding: 50px;
    background-color: #1C1C1C;
    box-shadow: 0px -10px 17px -1px rgba(0, 0, 0, 0.27);
}

.card {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 15%;
}

.cardThumb {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}

.btnPosition {
    margin-top: 30px;
    text-align: center;
}

.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #4982F9;
    color: white;
    padding: 10px 60px 10px;
    border: none;
}

.btn:hover {
    background-color: #355fb8;
    cursor: pointer;
}

.badge {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 25px;
    text-align: center;
    width: 230px;
    background: #4982F9;
}