* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	background-color: #0E0E0E;
}

/* ------------------ Header ------------------ */

header {
	background-color: white;
	padding: 1rem;
}

.container-boxed {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.header-list {
	display: flex;
	list-style: none;
	gap: 1rem;
	font-weight: 550;
}

li:hover {
	color: #4982F9;
	cursor: pointer;
}

.dc-logo {
	height: 80px;
}

/* ------------------ Main ------------------ */

main {
	background-color: #ff1a1a;
	height: 120px;
	color: white;
}