* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	background-color: #0E0E0E;
}

.containerBoxed {
	max-width: 1200px;
	margin: 0 auto;
}

/* ------------------ Footer ------------------ */

.footer-list-section {
	background-image: url(/public/footer-bg.jpg);
	background-size: cover;
	height: 350px;
}

.footer-social-section {
	position: relative;
	z-index: 0;
	background-color: #303030;
	height: 120px;
}

#dc-logo-list-bg {
	height: 550px;
}

button {
	border-color: #4982F9;
	border-width: 2.5px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	color: white;
	border-style: double;
}

button:hover {
	border-color: #003dbf;
	cursor: pointer;
}

.social-icons {
	margin: 0.50rem;
}

.social-icons:hover {
	background: #003dbf;
	border-radius: 50px;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

#follow-us-style {
	color: #4982F9;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 1rem;
}