* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	background-color: #0E0E0E;
}

/* ------------------ Header ------------------ */

header {
	background-color: white;
	padding: 1rem;
}

.container-boxed {
	max-width: 1200px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.flex-item {
	display: flex;
}

.header-list {
	display: flex;
	list-style: none;
	gap: 1rem;
	font-weight: 550;
}

li:hover {
	color: #4982F9;
	cursor: pointer;
}

.dc-logo {
	height: 80px;
}

/* ------------------ Main ------------------ */

main {
	background-color: #0E0E0E;
	height: 150px;
	color: white;
}

.align-center {
	display: flex;
	align-items: center;
	height: 100%;
}

/* ------------------ Footer ------------------ */

.footer-icons-section {
	background-color: #4982F9;
	height: 150px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}

.footer-list-section {
	background-image: url(/public/footer-bg.jpg);
	background-size: cover;
	height: 350px;
}

.footer-social-section {
	position: relative;
	z-index: 0;
	background-color: #303030;
	height: 120px;
}

#dc-logo-list-bg {
	height: 550px;
}

button {
	border-color: #4982F9;
	border-width: 2.5px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	color: white;
	border-style: double;
}

button:hover {
	border-color: #003dbf;
	cursor: pointer;
}

.icons-spacing {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.icons-style {
	height: 50px;
}

.icons-text:hover {
	color: #003dbf;
	cursor: pointer;
}

.icons-text {
	font-size: 14px;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 1rem;
}

.social-icons {
	margin: 0.50rem;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

#follow-us-style {
	color: #4982F9;
	font-size: 18px;
	font-weight: 600;
	margin: 1rem;
}