* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	background-color: #0E0E0E;
}

/*----------- Flex ------------*/

.containerBoxed {
	max-width: 1200px;
	margin: 0 auto;
}

.flexContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.alignCenter {
	display: flex;
	align-items: center;
	height: 100%;
}

.alignStart {
	align-items: start;
}

.spaceBetween {
	display: flex;
	justify-content: space-between;
}

.flexItem {
	display: flex;
}