* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	background-color: #0E0E0E;
}

/* ------------------ Header ------------------ */

header {
	background-color: white;
	padding: 1rem;
}

.container-boxed {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.flex-item {
	display: flex;
}

.header-list {
	display: flex;
	list-style: none;
	gap: 1rem;
	font-weight: 550;
}

li:hover {
	color: #4982F9;
	cursor: pointer;
}

.dc-logo {
	height: 80px;
}

/* ------------------ Main ------------------ */

main {
	background-color: #0E0E0E;
	height: 150px;
	color: white;
}

/* ------------------ Footer ------------------ */

.footer-icons-section {
	background-color: #4982F9;
	height: 150px;
}

.footer-list-section {
	background-image: url(/public/footer-bg.jpg);
	height: 350px;
}

.footer-social-section {
	background-color: #303030;
	height: 120px;
}

#dc-logo-list-bg {
	height: 350px
}

button {
	border-color: #4982F9;
	border-width: 2.5px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	color: white;
}

button:hover {
	cursor: pointer;
}